@model ContactoModel //Utilizamos el modelo de contacto en esta página/formulario
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar contacto
    </div>
    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="MantenedorContacto" method="post">
            <input asp-for="contactoID" type="hidden" class="form-control">
            <div class="alert alert-danger" role="alert">
               ¿Desea eliminar el contacto @Html.DisplayTextFor(m => m.nombre)?
            </div>
            <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Eliminar</button>
            <a asp-action="Listar" asp-controller="MantenedorContacto" class="btn btn-warning"><i class="bi bi-list"></i> Volver a la lista</a>
        </form>
    </div>
</div>

